/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url("../images/cover-image-dark.png");
  --decor-color: #FF0070;
  --bg-color: #000028;
  --header-color: #DB00FF;
  --title-color: #000028;
  --section-title-color: #FF0070;
  --text-color: #F1B2CE;
  --hover-color: rgb(255 0 112 / 0.4);
  --menu-item-color: #FF0070;
  --link-focus-hover-color: #FF0070;
  --main-font: "IBM Plex Mono", sans-serif;
  --header-title-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --footer-title-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --header-title-size-desk-tab: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --footer-title-size-desk-tab: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --content-font-size: 1.125rem;
  --content-line-height: 1.4625rem;
}